@import url('https://fonts.googleapis.com/css?family=Bungee');

*{
    font-family: 'Bungee';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(207, 97, 23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vmin;
    height: 100vh;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.table{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: aquamarine;
    color: rgb(253, 120, 32);
    width: 80vmin;
    height: 40vmin;
    border-radius:2.5vmin;
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.15);
    margin: 0 2vmin;
    transition: 0.5s;
}

.table h1{
    font-size: 10vmin;
    text-shadow: 0 0 2vmin rgba(0, 0, 0, 0.15);;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 120vmin;
    height: 10vmin;
}

.info-container .round-circle{
    margin: 0 1.5vmin;
    background-color: rgb(27, 169, 53);
    height: 10vmin;
    width: 10vmin;
    border-radius: 10vmin;
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.15);
    transition: 0.75s;
}

.info-container .passed{
    background-color: rgb(150, 22, 22);
}

.table.winner{
    background-color: #1FBA2F;
    color: white;
}

.table.loser{
    background-color: #B73B3B;
    color: white;
}

.box.computer{
    transform: rotate(180deg);
}

.box button{
    font-weight: bold;
    font-size: 10vmin;
    width: 20vmin;  
    height: 40vmin;
    border-radius: 2.5vmin;
    border: none;
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.276);
    transition: 0.5s;
}

.box button:disabled{
    background-color: gray;
}

.yes-btn{
    background-color: rgb(0, 255, 123);
}

.no-btn{
    background-color: rgb(205, 93, 93);
}

#no:disabled, #yes:disabled{
    background-color: rgb(255, 0, 0);
}

#plr-yes:hover, #plr-no:hover{
    filter: brightness(0.9);
}

#plr-yes:active, #plr-no:active{
    transform: translateY(1vmin);
    filter: brightness(0.7);
}